.Menu_list li{
  display: inline;
  list-style-type: none;
  margin: 0;
  a {
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    color: #3d3d3d;
    border: 1px solid #ffffff;
    border-radius: 1px;
  }
  a:hover {
      border-color: #3d3d3d;
    }
  }

.Nav_container {
  display: flex;
  justify-content: flex-end;
  margin-right: 12%;
}

ul > li:first-child > a {
  line-height: 22px;
}


