#Register {
  font-size: 14px;
  cursor: pointer;
  background-color: transparent;
  outline-color: #fbcb0f;
  color: #3d3d3d;
  border:none;
  padding:10px;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  #Register:hover {
    outline: none;
  }
}