.SetUpAccountBtn {
  width: 325px;
  font-size: 34px;
  font-weight: 100;
  padding: 30px;
  background-color: transparent;
  border: 1px solid #3d3d3d;
  cursor: pointer;
  margin-top: 45px;
  color: #3d3d3d;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
}